/* Universal Selector */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* Element Selectors */
body {
    background-color: #d9dcd6;
}

/* The elements from line 16 to line 53 used to be class selector
I switch them to element selectors and descedant selectors respectively*/

header { 
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

header h1 {
    display: inline-block;
    font-size: 48px;
}

header h1 span { 
    color: #d9dcd6;
}

nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

li {
    list-style-type: none;
    display: inline-block;
    margin-left: 25px;
}

footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

footer h2 {
    font-size: 20px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}

/* ID Selectors */
   
/* All the selector in this category used to be class selectors and were turned
into Id Selectors */
#hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

#content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

#benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}
/* Class selectors */

.float-left {
    float: left;
    margin-right: 25px;
}    

.float-right {
    float: right;
    margin-left: 25px;
}

/*All the selectors under this line were repited times 3 with different names ,each, so I consolidated them into 1 of each with a standard name*/
.services { 
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}    

.services img { 
    max-height: 200px;
}    

.services h2 {   
    margin-bottom: 20px;
    font-size: 36px;
}    

.benefit { 
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit h3 { 
    margin-bottom: 10px;
    text-align: center;
}

.benefit img { 
    display: block;
    margin: 10px auto;
    max-width: 150px;
}